<html>
   <head>
      <title>Upload Success!</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <head>
   <header>
      <h1>Your Toolbox file uploaded successfully!</h1>
   </header>
   <body>
         <a href="http://127.0.0.1:5000/upload" >
            <button  class="submit">Submit Again</button>
         </a>
         <div id="yay">👌</div>
   </body>
</html>
